body {
    margin: 0;
    padding: 0;
    font-family: century gothic;
}
header {
    width: 100%;
    height: 8vh;
    background-color: brown;
    position: fixed;
    top: 0;
}
h2 {
    float: left;
    margin: 2px 5%;
    font-family: Freehand521 BT;
    font-size: 30px;
    color: white;
}
ul {
    list-style-type: none;
    float: right;
    margin-top: 15px;
}
ul li {
    display: inline-block;
}
ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}
ul li a:hover:not(.active) {
    background-color: white;
    color: black;
}
ul li a.active {
    background-color: white;
    color: black;
}
.nav {
    max-width: 1200px;
    margin: auto;
}

/* -------- HOME --------- */
#home {
    height: 90vh;
    width: 100%;
    display: table;
    background-image: url(img/pp.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    justify-content: center;
}
h1 {
    color: white;
    font-size: 150px;
    margin: 8% 0 0;
    font-family: Freehand521 BT;
    text-decoration: underline;
}
p {
    color: white;
    font-size: 20px;
    margin: 0;
}
#home a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 14px 40px;
    margin: 5% 5px;
}
#home a:hover {
    background-color: lightblue;
}

/* -------- TENTANG KAMI --------- */
#tk {
    height: 90vh;
    width: 100%;
    display: table;
    text-align: center;
    justify-content: center;
    background-color: white;
}
h3 {margin: 9% auto 0;}
span {font-weight: bold;}
#tabeltk {
    color: black;
    position: center;
    margin: 2% auto 0;  
}

/* -------- KONTAK --------- */
#kontak {
    height: 90vh;
    width: 100%;
    display: table;
    text-align: center;
    justify-content: center;
    background-color: white;
}
.container {
    width: 50%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
    margin: 7% auto;
}
input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
    background-color: brown;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: white;
    color: black;
}

/* -------- FOOTER --------- */
footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: brown;
    padding: 28px;
    text-align: center;
    color: white;
}

/* -------- KONTEN MAKANAN --------- */
#konten {
    height: 100vh;
    width: 100%;
    background-color: white;
    margin: 0;
    text-align: center;
}
h4 {
    font-size: 25px;
    color: black;
    margin: 3%;
}
.tbl_konten td {
    font-size: 12px;
    background-color: rgb(245, 245, 245);
}
.tbl_konten td strong.strong {
    font-size: 20px;
}
.tbl_konten img {
    width: 200px;
    height: 140px;
    margin-bottom: 5%;
}



